@font-face {
  font-family: 'Graphik';
  src: local('Graphik Bold'), local('Graphik-Bold'),
      url('fonts/Graphik-Bold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

body{
  background: #ffffff;
  margin: 0;
}
.space{
  width: 100%;
}

.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.plant_req{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  box-sizing: content-box;
}

.title{
  color: #46735b;
  font-size: 17px;
  font-family: 'Arial';
  font-weight: 600;
  line-height: 1.35;
}

.short-description{
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  color:#0d776e;
  font-family: 'Arial';
  margin-top: 8px;
  line-height: 1.55;
  white-space: pre-line;
}

.info{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.descript-button{
  display:flex;
  padding-left:5px;
  padding-right:5px;
  height:40px;
  color:#ffffff;
  background-color:#1c808a;
  border: 2px solid #1c808a;
  text-align:center;
  line-height:40px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Arial';
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  justify-content: center;
}

.down{
  align-items: center;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:21px;
}

.cost{
  font-size:30px;
  color: #46735b;
  font-weight:600;
  line-height:1.35;
  margin-top:12px;
  font-family: 'Arial';
}

.header{
  background-color:#ffffff;
  height:14vh;
  width:100%;
  margin-bottom: 0px;
  align-content: center;
  display:flex;
  margin-bottom:2vh;
}

.top_line{
  background-color:#ffffff;
  height:80px;
  width:100%;
  margin-bottom: 0px;
  align-content: center;
  display:flex;
}

.input_back{
  height: 45px;
  margin-bottom: 15px;
  display:flex;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  border: 2px solid #46735b;
  min-width:200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.input{
  width:100%;
  font-size:18px;
  padding-left:10px;
  padding-right:10px;
  border:none;
}

.app_line{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 2vw;
}

.search_button{
  width:13%;
  text-decoration: none;
  display:flex;
  text-align:center;
  color:#ffffff;
  background-color:#0d776e;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Arial';
  line-height:42px;
  justify-content: center;
  cursor:pointer;
}

.item_page_container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  box-sizing: content-box;
  display:flex;
  margin-top: 3vh;
}

.item_page_half{
  margin-left:20px;
  margin-right:20px;
  width:100%;
  display:inline;
  max-width:560px;
}

.item_page_title{
  margin-bottom: 18px;
  box-sizing: content-box;
  text-align: left;
  font-family: 'Arial';
  font-size: 24px;
  color: #46735b;
  font-weight: 600;
}

.item_page_cost{
  box-sizing: content-box;
  text-align: left;
  font-family: 'Arial';
  font-size: 20px;
  line-height:1.35;
  color: #46735b;
  font-weight: 600;
}

.item_page_description{
  margin-top:20px;
  font-family:'Arial';
  font-weight:400;
  color:#1c808a;
  font-size:14px;
  line-height:1.55;
  box-sizing:content-box;
  text-align:left;
}

.item_specification{
  margin-top:20px;
  font-family:'Arial';
  font-weight:400;
  color:#1c808a;
  font-size:14px;
  line-height:1.55;
  box-sizing:content-box;
  text-align:left;
  white-space: pre-line;
}

.back_button{
  text-decoration:none;
  vertical-align: center;
  position: absolute;
  left:20px;
  top:20px;
  color:#46735b;
  margin-bottom:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1.55;
  font-weight:400;
  background-color: #ffffff;
  border: none;
  cursor:pointer;
}

.plant_req_container{
  display:grid;
  gap: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-sizing:content-box;
  margin-bottom: 20px;
}

.plant_req_item{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: content-box;
  box-shadow: 0px 0px 5px #00000080;
  object-fit: contain;
}

.plant_req_item_image{
  padding-left:1vh;
  padding-top:1vh;
  padding-bottom:1vh;
  max-width:40%;
  height:23vh;
  box-sizing: content-box;
  object-fit: contain;
}

.plant_req_item_l_description{
  margin-right:auto;
  text-align: left;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.plant_req_item_r_description{
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left:auto;
  text-align: left;
  box-sizing: content-box;
  object-fit: contain;

}

.plant_req_item_amount{
  color: #46735b;
  font-size: 17px;
  font-family: 'Arial';
  font-weight: 600;
  line-height: 1.35;
  padding-left: 1px;
  padding-right:1px;

}

.plant_req_item_cost{
  font-size:26px;
  padding-right:1px;
  color: #46735b;
  font-weight:600;
  line-height:1.35;
  margin-top:12px;
  font-family: 'Arial';
}

.elements_amount{
  position: absolute;
  color: rgb(176, 16, 16);
  align-content: center;
  text-align:center;
  width: 70px;
  height:45px;
  margin-left: 4px;
  border-radius: 23px;
  font-family: 'Arial';
  font-weight: 500;
  font-size: 16px;
}

.plant_req_button{
  background-color:#ffffff;
  width: 70px;
  margin-left:none;
  margin-right: auto;
  height:45px;
  border: 2px solid #46735b;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
